<!DOCTYPE html>
<html>

<body class="w3-light-grey">

<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1400px">

<!-- Grid -->
<div class="w3-row">
<!-- Register btn -->
<div class="w3-col m8 s12">
          <p><a href="/register_admin"><button class="w3-button w3-padding-large w3-white w3-border"><b>Register</b></button></a></p>
</div>
<!-- Login btn -->
<div class="w3-col m8 s12">
          <p><a href="/login_admin"><button class="w3-button w3-padding-large w3-white w3-border"><b>Login</b></button></a></p>
</div>
<!-- Admin btn -->
<div class="w3-col m8 s12">
          <p><a href="/admin"><button class="w3-button w3-padding-large w3-white w3-border"><b>Admin</b></button></a></p>
</div>

<!-- Blog entries -->
<div class="w3-col l8 s12">
  <!-- Blog entry -->
  {{#each data}}
  <div class="w3-card-4 w3-margin w3-white">
    <div class="w3-container">
      <h5>{{this.title}}</h5>
    </div>
    <div class="w3-container">by {{this.username}}</div>

    <div class="w3-container">
      <p>{{this.content}}</p>
      <div class="w3-row">
        <div class="w3-col m8 s12">
          <p><a href="/article/{{this._id}}"><button class="w3-button w3-padding-large w3-white w3-border"><b>READ MORE »</b></button></a></p>
        </div>
        <div class="w3-col m4 w3-hide-small">
          <p><span class="w3-padding-large w3-right"><b>Comments</b> <span class="w3-tag">{{this.comments.length}}</span></span></p>
        </div>
      </div>
    </div>
  </div>
  <hr>
{{/each}}


</div>
<!-- END BLOG ENTRIES -->

<!-- Introduction menu -->
<div class="w3-col l4">
  <!-- About Card -->
  <div class="w3-card w3-margin w3-margin-top">
    <div class="w3-container w3-white">
      <h4><b>My Name</b></h4>
      <p>Just me, myself and I, exploring the universe of uknownment. I have a heart of love and a interest of lorem ipsum and mauris neque quam blog. I want to share my world with you.</p>
    </div>
  </div><hr>
  
</div>  
<!-- END Introduction Menu -->


<!-- END GRID -->
</div><br>
<!-- Footer -->
<!-- END w3-content -->
</div>

<footer class="w3-container w3-dark-grey w3-padding-32 w3-margin-top">
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>


</body>
</html>